---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Minimal Example

{{ tffile "examples/data-sources/gdashboard_stat/data-source-minimal.tf" }}

## Configuration Example

{{ tffile "examples/data-sources/gdashboard_stat/data-source-full.tf" }}

## Provider Defaults Example

You can define default attributes for the stat data source via provider.
In the example below, both panels inherit default attributes from the provider.

{{ tffile "examples/data-sources/gdashboard_stat/data-source-provider-defaults.tf" }}


{{ .SchemaMarkdown | trimspace }}
